In [4]:
import pandas as pd
data = pd.read_csv("globalterrorism.csv",encoding="ISO-8859-1")

C:\Users\TSA\AppData\Local\Temp\ipykernel_43800\2275485645.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("globalterrorism.csv",encoding="ISO-8859-1")

In [5]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [6]:
data.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [9]:
data.shape

(181691, 135)

In [13]:
data = data[["iyear","imonth","iday","country","country_txt","region_txt","city","success","attacktype1_txt","nkill","propvalue","targtype1_txt","latitude","gname","longitude","targsubtype1_txt","target1","weaptype1_txt","weapdetail"]]

In [14]:
data.shape

(181691, 19)

In [15]:
data.rename(columns={'iyear':"Year","imonth":"Month","iday":"Day","country":"Country_no","country_txt":"Country","region_txt":"Region","city":"City","propvalue":"property_value","attacktype1_txt":"Attack_type","targtype_txt":"Target_type","gname":"Group_name","targsubtype1_txt":"Target_sub_type","target1":"Target","nkill":"no_of_kills","weaptype1_txt":"Weapon_type","weapdetail":"Weapon_detail"},inplace=True)

C:\Users\TSA\AppData\Local\Temp\ipykernel_43800\4073542623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'iyear':"Year","imonth":"Month","iday":"Day","country":"Country_no","country_txt":"Country","region_txt":"Region","city":"City","propvalue":"property_value","attacktype1_txt":"Attack_type","targtype_txt":"Target_type","gname":"Group_name","targsubtype1_txt":"Target_sub_type","target1":"Target","nkill":"no_of_kills","weaptype1_txt":"Weapon_type","weapdetail":"Weapon_detail"},inplace=True)

In [16]:
data.head()

,Year,Month,Day,Country_no,Country,Region,City,success,Attack_type,no_of_kills,property_value,targtype1_txt,latitude,Group_name,longitude,Target_sub_type,Target,Weapon_type,Weapon_detail
0,1970,7,2,58,Dominican Republic,Central America & Caribbean,Santo Domingo,1,Assassination,1.0,NaN,Private Citizens & Property,18.456792,MANO-D,-69.951164,Named Civilian,Julio Guzman,Unknown,NaN
1,1970,0,0,130,Mexico,North America,Mexico city,1,Hostage Taking (Kidnapping),0.0,NaN,Government (Diplomatic),19.371887,23rd of September Communist League,-99.086624,"Diplomatic Personnel (outside of embassy, cons...","Nadine Chaval, daughter",Unknown,NaN
2,1970,1,0,160,Philippines,Southeast Asia,Unknown,1,Assassination,1.0,NaN,Journalists & Media,15.478598,Unknown,120.599741,Radio Journalist/Staff/Facility,Employee,Unknown,NaN
3,1970,1,0,78,Greece,Western Europe,Athens,1,Bombing/Explosion,NaN,NaN,Government (Diplomatic),37.997490,Unknown,23.762728,Embassy/Consulate,U.S. Embassy,Explosives,Explosive
4,1970,1,0,101,Japan,East Asia,Fukouka,1,Facility/Infrastructure Attack,NaN,NaN,Government (Diplomatic),33.580412,Unknown,130.396361,Embassy/Consulate,U.S. Consulate,Incendiary,Incendiary

In [18]:
data.isnull().sum()

Year                    0
Month                   0
Day                     0
Country_no              0
Country                 0
Region                  0
City                  434
success                 0
Attack_type             0
no_of_kills         10313
property_value     142702
targtype1_txt           0
latitude             4556
Group_name              0
longitude            4557
Target_sub_type     10373
Target                636
Weapon_type             0
Weapon_detail       67670
dtype: int64

In [19]:
data["City"].fillna("Unknown",inplace=True)
data["Target"].fillna("Unknown",inplace=True)
data["property_value"].fillna(0,inplace=True)
data["no_of_kills"].fillna(0,inplace=True)

C:\Users\TSA\AppData\Local\Temp\ipykernel_43800\578810014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["City"].fillna("Unknown",inplace=True)
C:\Users\TSA\AppData\Local\Temp\ipykernel_43800\578810014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Target"].fillna("Unknown",inplace=True)
C:\Users\TSA\AppData\Local\Temp\ipykernel_43800\578810014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["property_value"].fillna(0,inplace=True)
C:\Users\TSA\AppData\Local\Temp\ipykernel_43800\578810014.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["no_of_kills"].fillna(0,inplace=True)

In [20]:
data.to_csv("modified_global_terrorism.csv")